@import 'tailwindcss';
@import "tw-animate-css";

@layer base {
  * {
    @apply border-border;
  }
  
  body {
    font-family: var(--font-sans);
    letter-spacing: var(--tracking-normal);
  }
}

:root {
  --background: oklch(0.9555 0.0555 96.1549);
  --foreground: oklch(0.3441 0.0066 48.5229);
  --card: oklch(0.9655 0.0394 100.8622);
  --card-foreground: oklch(0.3441 0.0066 48.5229);
  --popover: oklch(0.9655 0.0394 100.8622);
  --popover-foreground: oklch(0.3441 0.0066 48.5229);
  --primary: oklch(0.6217 0.1707 45.8116);
  --primary-foreground: oklch(0.9555 0.0555 96.1549);
  --secondary: oklch(0.5505 0.0234 62.5672);
  --secondary-foreground: oklch(0.9555 0.0555 96.1549);
  --muted: oklch(0.8941 0.0566 89.2405);
  --muted-foreground: oklch(0.4110 0.0115 51.8658);
  --accent: oklch(0.6217 0.1707 45.8116);
  --accent-foreground: oklch(0.9555 0.0555 96.1549);
  --destructive: oklch(0.5458 0.2030 28.6624);
  --destructive-foreground: oklch(0.9555 0.0555 96.1549);
  --border: oklch(0.8255 0.0507 85.1158);
  --input: oklch(0.8255 0.0507 85.1158);
  --ring: oklch(0.6176 0.1277 70.6739);
  --chart-1: oklch(0.4374 0.1789 28.2597);
  --chart-2: oklch(0.6564 0.1354 109.1187);
  --chart-3: oklch(0.7251 0.1429 77.7079);
  --chart-4: oklch(0.5756 0.0658 199.4874);
  --chart-5: oklch(0.5973 0.1105 352.2184);
  --sidebar: oklch(0.9220 0.0553 92.5258);
  --sidebar-foreground: oklch(0.3441 0.0066 48.5229);
  --sidebar-primary: oklch(0.4374 0.1789 28.2597);
  --sidebar-primary-foreground: oklch(0.9555 0.0555 96.1549);
  --sidebar-accent: oklch(0.6217 0.1707 45.8116);
  --sidebar-accent-foreground: oklch(0.9555 0.0555 96.1549);
  --sidebar-border: oklch(0.8255 0.0507 85.1158);
  --sidebar-ring: oklch(0.6176 0.1277 70.6739);
  --font-sans: Genos, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Faustina, ui-serif, serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 8px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 8px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 8px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0px 2px 8px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 2px 8px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 2px 8px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 2px 8px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2768 0 0);
  --foreground: oklch(0.8941 0.0566 89.2405);
  --card: oklch(0.3441 0.0066 48.5229);
  --card-foreground: oklch(0.8941 0.0566 89.2405);
  --popover: oklch(0.3441 0.0066 48.5229);
  --popover-foreground: oklch(0.8941 0.0566 89.2405);
  --primary: oklch(0.7311 0.1820 51.6932);
  --primary-foreground: oklch(0.2768 0 0);
  --secondary: oklch(0.6927 0.0420 169.7681);
  --secondary-foreground: oklch(0.2768 0 0);
  --muted: oklch(0.4110 0.0115 51.8658);
  --muted-foreground: oklch(0.7564 0.0410 82.2840);
  --accent: oklch(0.7311 0.1820 51.6932);
  --accent-foreground: oklch(0.2768 0 0);
  --destructive: oklch(0.5458 0.2030 28.6624);
  --destructive-foreground: oklch(0.8941 0.0566 89.2405);
  --border: oklch(0.4110 0.0115 51.8658);
  --input: oklch(0.4110 0.0115 51.8658);
  --ring: oklch(0.8325 0.1595 82.9866);
  --chart-1: oklch(0.6597 0.2175 30.3917);
  --chart-2: oklch(0.7652 0.1581 110.8346);
  --chart-3: oklch(0.8325 0.1595 82.9866);
  --chart-4: oklch(0.6927 0.0420 169.7681);
  --chart-5: oklch(0.7054 0.0976 2.1895);
  --sidebar: oklch(0.2408 0.0049 219.6723);
  --sidebar-foreground: oklch(0.8941 0.0566 89.2405);
  --sidebar-primary: oklch(0.6597 0.2175 30.3917);
  --sidebar-primary-foreground: oklch(0.2768 0 0);
  --sidebar-accent: oklch(0.7311 0.1820 51.6932);
  --sidebar-accent-foreground: oklch(0.2768 0 0);
  --sidebar-border: oklch(0.3441 0.0066 48.5229);
  --sidebar-ring: oklch(0.8325 0.1595 82.9866);
  --font-sans: Genos, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Faustina, ui-serif, serif;
  --font-mono: IBM Plex Mono, ui-monospace, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.2;
  --shadow-color: #000000;
  --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.10);
  --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 1px 2px -1px hsl(0 0% 0% / 0.20);
  --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 2px 4px -1px hsl(0 0% 0% / 0.20);
  --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 4px 6px -1px hsl(0 0% 0% / 0.20);
  --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.20), 0px 8px 10px -1px hsl(0 0% 0% / 0.20);
  --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.50);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}